<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lolaage.crm.service.dao.mapper.CustomerMapper">

    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        t.f_id AS id,
        t.f_name AS name,
        t.f_type AS type,
        t.f_tag AS tag,
        t.f_source AS source,
        t.f_source_name AS sourceName,
        t.f_province_id AS provinceId,
        t.f_city_id AS cityId,
        t.f_area_id AS areaId,
        t.f_address AS address,
        t.f_contact AS contact,
        t.f_gender AS gender,
        t.f_contact_telephone AS contactTelephone,
        t.f_birthday AS birthday,
        t.f_wechat AS wechat,
        t.f_qq AS qq,
        t.f_email AS email,
        t.f_remark AS remark,
        t.f_create_id AS createId,
        t.f_classify AS classify,
        t.f_create_time AS createTime,
        t.f_isdeleted AS isdeleted,
        t.f_update_time AS updateTime,
        t.f_update_id as updateId
    </sql>

    <!-- 使用对象类型传参 -->
    <select id="listPageByDto" parameterType="com.lolaage.crm.service.dto.request.CustomerQueryDto" resultType="com.lolaage.crm.service.dto.response.CustomerListDto">
        SELECT <include refid="baseColumnList" />,
        uc.f_name AS createName,
        uu.f_name AS updateName,
        r.f_name AS provinceName,
        (select max(f_create_time) from t_follow_record where f_customer_id = t.f_id) as followTime,
        (SELECT COUNT(*) FROM t_follow_record WHERE f_customer_id = t.f_id and f_isdeleted =0 ) AS followNum
        FROM
        t_customer t
        LEFT JOIN t_user uc ON t.f_create_id = uc.f_id
        LEFT JOIN t_user uu ON t.f_update_id = uu.f_id
        LEFT JOIN t_region r ON t.f_province_id = r.f_id
        WHERE
        t.f_isdeleted = 0
        <if test="dto != null">
            <!-- 这里写自己的条件拼装 -->

            <if test="dto.isLeader !=null and dto.isLeader">
                and t.f_create_id in (select t.f_user_id from t_user_org t, t_org_relation_path t2 WHERE t.f_org_id = t2.f_org_id AND FIND_IN_SET((select f_org_id from t_user_org WHERE f_user_id = #{dto.userId}),t2.f_path))
            </if>
            <if test="dto.isLeader !=null and dto.isLeader == false">
                and t.f_create_id = #{dto.userId}
            </if>
            <if test="dto.classify !=null and dto.classify > 0">
                and t.f_classify = #{dto.classify}
            </if>
            <if test="dto.type !=null and dto.type > 0">
                and t.f_type = #{dto.type}
            </if>
            <if test="dto.name !=null and dto.name !=''">
                and t.f_name like concat('%',#{dto.name},'%')
            </if>
            <if test="dto.contact !=null and dto.contact !=''">
                and t.f_contact  like concat('%',#{dto.contact},'%')
            </if>
            <if test="dto.telephone !=null and dto.telephone !=''">
                and t.f_contact_telephone  like concat('%',#{dto.telephone},'%')
            </if>
        </if>
        ORDER BY t.f_update_time DESC
    </select>


    <select id="getDetail" parameterType="java.lang.Long" resultType="com.lolaage.crm.service.dto.response.CustomerDetailDto">
        SELECT <include refid="baseColumnList" />,
        uc.f_name AS createName,
        uu.f_name AS updateName,
        r.f_name AS provinceName,
        r1.f_name as cityName,
        r2.f_name as areaName
        FROM
        t_customer t
        LEFT JOIN t_user uc ON t.f_create_id = uc.f_id
        LEFT JOIN t_user uu ON t.f_update_id = uu.f_id
        LEFT JOIN t_region r ON t.f_province_id = r.f_id
        LEFT JOIN t_region r1 ON t.f_city_id = r1.f_id
        LEFT JOIN t_region r2 ON t.f_area_id = r2.f_id
        WHERE
        t.f_isdeleted = 0 and t.f_id = #{id}
    </select>



</mapper>