<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lolaage.crm.service.dao.mapper.DemandMapper">

    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        t.f_id AS id,
        t.f_name AS name,
        t.f_project_id AS projectId,
        t.f_priority AS priority,
        t.f_handle_time AS handleTime,
        t.f_handle_id AS handleId,
        t.f_describe AS `describe`,
        t.f_status AS status,
        t.f_create_id AS createId,
        t.f_create_time AS createTime,
        t.f_isdeleted AS isdeleted,
        t.f_update_time AS updateTime,
        t.f_complete_time AS completeTime
    </sql>

    <!-- 使用对象类型传参 -->
    <select id="listPageByDto" parameterType="com.lolaage.crm.service.dto.request.DemandQueryDto" resultType="com.lolaage.crm.service.dto.response.DemandListDto">
        SELECT <include refid="baseColumnList" />
            , p.f_name AS projectName, c.f_name AS customerName
            , CASE t.f_priority
                WHEN 1 THEN '非常高'
                WHEN 2 THEN '高'
                WHEN 3 THEN '一般'
                WHEN 4 THEN '不紧急'
                ELSE '无'
              END priorityName
            , CASE t.f_status
                WHEN 1 THEN '保持为草稿'
                WHEN 2 THEN '待处理'
                WHEN 3 THEN '处理中'
                WHEN 4 THEN '已完成'
                WHEN 5 THEN '已拒绝'
                ELSE '无'
                END statusName
            , u.f_name AS creator
            , u2.f_name AS handleName
        FROM t_demand t INNER JOIN t_project p ON t.f_project_id = p.f_id
                     INNER JOIN t_customer c ON p.f_customer_id = c.f_id
                     INNER JOIN t_user u ON t.f_create_id = u.f_id
                     INNER JOIN t_user u2 ON t.f_handle_id = u2.f_id
        where t.f_isdeleted=0
        <if test="dto != null">
            <!-- 这里写自己的条件拼装 -->
            <if test="dto.id!=null and dto.id!=''">
                AND t.f_id = #{dto.id}
            </if>
            <if test="dto.name!=null and dto.name!=''">
                AND t.f_name like concat("%",#{dto.name},"%")
            </if>
            <if test="dto.projectName!=null and dto.projectName!=''">
                AND p.f_name like concat("%",#{dto.projectName},"%")
            </if>
            <if test="dto.customerName!=null and dto.customerName!=''">
                AND c.f_name like concat("%",#{dto.customerName},"%")
            </if>
        </if>
        ORDER BY t.f_update_time DESC
    </select>

</mapper>