<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lolaage.crm.service.dao.mapper.FileMapper">

    <!-- 默认的DTO类 -->
    <resultMap id="resultMap" type="com.lolaage.crm.service.model.File">
        <result column="f_id" property="id"/>
        <result column="f_file_id" property="fileId"/>
        <result column="f_name" property="name"/>
        <result column="f_ext" property="ext"/>
        <result column="f_type" property="type"/>
        <result column="f_size" property="size"/>
        <result column="f_oss_bucket" property="ossBucket"/>
        <result column="f_ip" property="ip"/>
        <result column="f_port" property="port"/>
        <result column="f_invalid_time" property="invalidTime"/>
        <result column="f_creater_id" property="createrId"/>
        <result column="f_file_des_id" property="fileDesId"/>
        <result column="f_duration" property="duration"/>
        <result column="f_md5" property="md5"/>
        <result column="f_first_pic" property="firstPic"/>
        <result column="f_dir" property="dir"/>
        <result column="f_longitude" property="longitude"/>
        <result column="f_height" property="height"/>
        <result column="f_latitude" property="latitude"/>
        <result column="f_elevation" property="elevation"/>
        <result column="f_width" property="width"/>
        <result column="f_isdeleted" property="isdeleted"/>
        <result column="f_update_time" property="updateTime"/>
        <result column="f_create_time" property="createTime"/>
    </resultMap>

    <select id="getByFileId" resultMap="resultMap">
        select * from t_file where f_isdeleted=0 and f_file_id=#{fileId}
    </select>

    <select id="queryFileById" resultMap="resultMap" parameterType="java.lang.Long">
        <![CDATA[
        select f_id,f_file_id,f_name,f_ext,f_type,f_size,f_oss_bucket,
        f_ip,f_port,f_creater_id,f_create_time,
        f_file_des_id,f_duration,f_md5,f_first_pic,f_dir
        from t_file where f_file_id=#{id,jdbcType=INTEGER} or f_id =#{id,jdbcType=INTEGER} limit 1
        ]]>
    </select>

    <insert id="saveFile" parameterType="com.lolaage.crm.service.model.File">
        insert into t_file (f_id,f_file_id,f_name,f_ext,f_type,f_size,f_oss_bucket,
        f_ip,f_port,f_creater_id,f_create_time,f_file_des_id,f_duration,f_md5,f_first_pic)
        values (#{id},#{fileId},#{name},#{ext},#{type},#{size},#{ossBucket},#{ip},#{port},
        #{createrId},now(),#{fileDesId},#{duration},#{md5},#{firstPic})
    </insert>

</mapper>