<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lolaage.crm.service.dao.mapper.ModuleMapper">

    <!-- 默认的DTO类 -->
    <resultMap id="resultDto" type="com.lolaage.crm.service.dto.comm.ModuleDto">
        <result column="f_id" property="id"/>
        <result column="f_name" property="name"/>
        <result column="f_pic_id" property="picId"/>
        <result column="f_module_url" property="moduleUrl"/>
        <result column="f_ishidden" property="ishidden"/>
        <result column="f_isopen_new" property="isopenNew"/>
        <result column="f_order" property="order"/>
        <result column="f_parent" property="parent"/>
        <result column="f_remark" property="remark"/>
        <result column="f_style" property="style"/>
        <result column="f_appName" property="appname"/>
        <result column="f_isdeleted" property="isdeleted"/>
        <result column="f_update_time" property="updateTime"/>
        <result column="f_create_time" property="createTime"/>
        <result column="f_order_num" property="orderNum"/>
    </resultMap>

    <resultMap id="resultDtoChildNoResource" type="com.lolaage.crm.service.dto.comm.ModuleDto" extends="resultDto">
        <collection property="children" select="com.lolaage.crm.service.dao.mapper.ModuleMapper.listByParentIdChildNoResource" column="f_id"></collection>
    </resultMap>

    <resultMap id="resultDtoChildResource" type="com.lolaage.crm.service.dto.comm.ModuleDto" extends="resultDto">
        <collection property="children" select="com.lolaage.crm.service.dao.mapper.ModuleMapper.listByParentIdChildResource" column="f_id"></collection>
        <collection property="resourceDtos" select="com.lolaage.crm.service.dao.mapper.ResourceMapper.getByModuldId" column="f_id"></collection>
    </resultMap>

    <resultMap id="resultDtoNoChildResource" type="com.lolaage.crm.service.dto.comm.ModuleDto" extends="resultDto">
        <collection property="resourceDtos" select="com.lolaage.crm.service.dao.mapper.ResourceMapper.getByModuldId" column="f_id"></collection>
    </resultMap>

    <select id="listByParentIdNoChildNoResource" resultMap="resultDto">
        select * from  t_module where f_parent = #{parentId};
    </select>

    <select id="listByParentIdChildNoResource" resultMap="resultDtoChildNoResource">
         select * from  t_module where f_parent = #{parentId};
    </select>

    <select id="listByParentIdChildResource" resultMap="resultDtoChildResource">
        select * from  t_module where f_parent = #{parentId};
    </select>

    <select id="listByParentIdNoChildResource" resultMap="resultDtoNoChildResource">
         select * from  t_module where f_parent = #{parentId};
    </select>

    <!-- 使用mybatis-plus 的 Wrapper 形式传参-->
    <select id="listDtoPageByWrapper" resultMap="resultDto">
        SELECT * FROM t_module
        <if test="ew != null">
            <!-- 这里不用动,只需按 mybatis-plus 的 Wrapper 形式传参即可 -->
            ${ew.customSqlSegment}
        </if>
    </select>

    <!-- 使用对象类型传参 -->
    <select id="listDtoPageByObj" parameterType="com.lolaage.crm.service.dto.comm.UserDto" resultMap="resultDto">
        SELECT * FROM t_module where t.f_isdeleted=0
        <if test="dto != null">
            <!-- 这里写自己的条件拼装 -->

        </if>
    </select>


    <select id="findByOrgAndUserId" resultMap="resultDto">
        select * from t_module where f_id in (
            SELECT DISTINCT f_module_id FROM t_resource WHERE f_id IN (SELECT f_resource_id FROM t_role_resource WHERE f_role_id IN (
		    SELECT f_role_id FROM t_user_org_role WHERE f_user_org_id in (select f_id from t_user_org where f_user_id=#{userId} AND f_org_id=#{orgId} and f_isdeleted=0)
            ))
        )
    </select>
    
    
    <select id="getModuleTreeDtoByPrerntId" resultType="com.lolaage.crm.service.dto.response.ModuleTreeDto">
        SELECT
         t.f_id id,
         t.f_name NAME,
         t.f_pic_id picId,
         t.f_module_url moduleUrl,
         t.f_ishidden ishidden,
         t.f_isdeleted isdeleted,
         t.f_order_num orderNum,
         t.f_parent parent,
         t.f_remark remark,
         t.f_update_time updateTime,
         t.f_create_time createTime,
         (SELECT COUNT(*) FROM t_resource r WHERE r.f_module_id=t.f_id) resourceCount,
         (SELECT COUNT(*) FROM t_module c WHERE c.f_isdeleted=0 AND c.f_parent=t.f_id) childrenCount
         FROM t_module t
        where f_parent=#{parentId} and f_isdeleted=0
        order by f_order_num
    </select>
</mapper>