<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lolaage.crm.service.dao.mapper.OrgMapper">

    <!-- 默认的DTO类 -->
    <resultMap id="resultDto" type="com.lolaage.crm.service.dto.comm.OrgDto">
        <result column="f_id" property="id"/>
        <result column="f_name" property="name"/>
        <result column="f_parent_id" property="parentId"/>
        <result column="f_type" property="type"/>
        <result column="f_company_id" property="companyId"/>
        <result column="f_region_id" property="regionId"/>
        <result column="f_remark" property="remark"/>
        <result column="f_creater" property="creater"/>
        <result column="f_isdeleted" property="isdeleted"/>
        <result column="f_update_time" property="updateTime"/>
        <result column="f_create_time" property="createTime"/>
    </resultMap>

    <!-- 使用mybatis-plus 的 Wrapper 形式传参-->
    <select id="listDtoPageByWrapper" resultMap="resultDto">
        SELECT * FROM t_user
        <if test="ew != null">
            <!-- 这里不用动,只需按 mybatis-plus 的 Wrapper 形式传参即可 -->
            ${ew.customSqlSegment}
        </if>
    </select>

    <!-- 使用对象类型传参 -->
    <select id="listDtoPageByObj" parameterType="com.lolaage.crm.service.dto.comm.UserDto" resultMap="resultDto">
        SELECT * FROM t_user where t.f_isdeleted=0
        <if test="dto != null">
            <!-- 这里写自己的条件拼装 -->

        </if>
        ORDER BY o.f_id
    </select>

    <select id="listPageByDto" parameterType="com.lolaage.crm.service.dto.request.OrgQueryDto" resultType="com.lolaage.crm.service.dto.response.OrgListDto">
        SELECT o.f_id AS id,o.f_parent_id AS parentId,o.f_name AS name
        FROM t_org o
        LEFT JOIN t_org_relation_path p ON p.f_org_id=o.f_id
        WHERE o.f_isdeleted=0 AND FIND_IN_SET(#{dto.id}, p.f_path)
        <if test="dto.name != null and dto.name !=''">
            and o.f_name like concat('%',#{dto.name},'%')
        </if>
        <if test="dto.orgId !=null and dto.orgId > 0">
            and o.f_id = #{dto.orgId}
        </if>
        ORDER BY o.f_id
    </select>

    <!-- 查询组织结构的树形结构节点列表 -->
    <select id="queryOrgTreeNode" parameterType="java.lang.Long" resultType="com.lolaage.crm.service.dto.response.TreeNodeDto">
        SELECT o.f_id AS id,o.f_parent_id AS parentId,o.f_name AS name
        FROM t_org o
        LEFT JOIN t_org_relation_path p ON p.f_org_id=o.f_id
        WHERE o.f_isdeleted=0 AND FIND_IN_SET(#{topOrgId,jdbcType=VARCHAR}, p.f_path)
        ORDER BY o.f_id
    </select>

    <select id="getOrgChildren" resultType="com.lolaage.crm.service.dto.response.TreeNodeDto">
        SELECT o.f_id AS id,o.f_parent_id AS parentId,o.f_name AS name,COUNT(DISTINCT(orp.f_id)) AS childCount
        FROM t_org o
        LEFT JOIN t_org_relation_path orp ON FIND_IN_SET(o.f_id, orp.f_path)
        WHERE (o.f_id=#{parentId}
        <if test="isLeader">
            OR o.f_parent_id=#{parentId}
        </if>
        ) AND o.f_isdeleted=0
        GROUP BY o.f_id
        ORDER BY o.f_id
    </select>

    <select id="getOrgChildrenNoLimit" resultType="com.lolaage.crm.service.dto.response.TreeNodeDto">
        SELECT o.f_id AS id,o.f_parent_id AS parentId,o.f_name AS name,COUNT(DISTINCT(orp.f_id)) AS childCount
        FROM t_org o
        LEFT JOIN t_org_relation_path orp ON FIND_IN_SET(o.f_id, orp.f_path)
        WHERE (o.f_id=#{parentId} OR o.f_parent_id=#{parentId}
        ) AND o.f_isdeleted=0
        GROUP BY o.f_id
        ORDER BY o.f_id
    </select>

    <select id="queryByName" parameterType="java.lang.String" resultType="com.lolaage.crm.service.dto.comm.OrgDto">
        SELECT f_id AS id,f_name AS name FROM t_org WHERE f_name LIKE '%${orgName}%' AND f_isdeleted=0
    </select>

    <select id="queryByOrgId" resultType="com.lolaage.crm.service.dto.comm.OrgInfoDto">
        SELECT o.f_id AS id,o.f_name AS name,o.f_parent_id AS parentId,o.f_type AS type,
        c.f_type_id AS typeId,c.f_address AS address,c.f_contanct AS contanct,c.f_telephone AS telephone,
        c.f_company_name AS companyName,c.f_owner_name AS ownerName,c.f_company_phone AS companyPhone,
        c.f_license AS license,c.f_remark AS remark
        FROM t_org o
        LEFT JOIN t_company c ON c.f_id=o.f_company_id
        WHERE o.f_id=#{orgId} AND f_isdeleted=0
    </select>

    <select id="queryByOrgDtoId" resultType="com.lolaage.crm.service.dto.comm.OrgDto">
        SELECT o.f_id AS id,o.f_name AS name,o.f_parent_id AS parentId,o.f_type AS type,o.f_region_id as regionId,
        t1.f_longtitude as longitude,
        t1.f_latitude as latitude,
        t4.f_name as parentName,
        t2.f_name as regionName
        FROM t_org o
        left join t_org_area t1 on o.f_id = t1.f_org_id
        left join t_region t2 on t2.f_id = o.f_region_id
        left join t_org t4 on o.f_parent_id=t4.f_id
        WHERE o.f_id=#{orgId} AND o.f_isdeleted=0
    </select>

    <select id="queryChildOrgDtoListId" resultType="com.lolaage.crm.service.dto.comm.OrgDto">
        SELECT o.f_id AS id,o.f_name AS name,o.f_parent_id AS parentId,o.f_type AS type
        FROM t_org o
        WHERE o.f_parent_id=#{parnetOrgId} AND o.f_isdeleted=0
    </select>

    <select id="queryAllOrgDtoList" resultType="com.lolaage.crm.service.dto.comm.OrgDto">
        SELECT o.f_id AS id,o.f_name AS name,o.f_parent_id AS parentId
        FROM t_org o
        WHERE o.f_isdeleted=0
    </select>

    <select id="getParentOrgId" resultType="java.lang.String">
        select f_path from t_org_relation_path where f_org_id=#{orgId}
    </select>

    <select id="queryAllOrgRegion" resultType="com.lolaage.crm.service.dto.comm.OrgRegionDto">
        select
        t1.f_id as id,
        t1.f_parent_id as parentId,
        t2.f_id as regionId,
        t2.f_type as regionType
        from t_org t1 left join t_region t2 on t1.f_region_id =t2.f_id
        where t1.f_isdeleted=0
    </select>
    <select id="queryOrgInfoById" resultType="com.lolaage.crm.service.dto.comm.OrgInfoDto">
        select
        t1.f_id as id,
        t1.f_name as name,
        t1.f_parent_id as parentId,
        t2.f_type_id as typeId,
        t2.f_address as address,
        t2.f_contanct as contanct,
        t2.f_telephone as telephone,
        t2.f_company_name as companyName,
        t2.f_owner_name as ownerName,
        t2.f_company_phone as companyPhone,
        t2.f_license as license,
        t2.f_remark as remark,
        t4.f_name as parentName
         from t_org t1
        left join t_company t2 on t1.f_company_id=t2.f_id
        left join t_company_type t3 on t2.f_type_id=t3.f_id
        left join t_org t4 on t1.f_parent_id=t4.f_id
        where t1.f_isdeleted=0 and t1.f_id=#{orgId}
    </select>
    <select id="queryAllCompanyType" resultType="com.lolaage.crm.service.dto.comm.CompanyTypeDto">
       select f_id as id ,f_name as name from t_company_type;
    </select>


    <select id="getArroundList" parameterType="com.lolaage.crm.service.dto.request.AroundListQueryDto"  resultType="com.lolaage.crm.service.dto.comm.OrgAroundDto">
        select
        t1.f_id as id,
        t1.f_name as name,
        t1.f_parent_id as parentId,
        t2.f_type_id as typeId,
        t2.f_address as address,
        t2.f_contanct as contanct,
        t2.f_telephone as telephone,
        t2.f_company_name as companyName,
        t2.f_owner_name as ownerName,
        t2.f_company_phone as companyPhone,
        t2.f_license as license,
        t2.f_remark as remark,
        t5.f_longtitude as longitude,
        t5.f_latitude as latitude,
        t6.f_name as regionName
        <if test="dto.latitude != null and dto.longitude">
            ,ROUND(
            6371 * acos(
            cos(radians(#{dto.latitude}))*cos(radians(t5.f_latitude))*cos(radians(t5.f_longtitude)
            -radians(#{dto.longitude}))+sin(radians(#{dto.latitude}))*sin(radians(t5.f_latitude))
            ) * 1000
            ) AS distance
        </if>
        FROM t_org t1
        left join t_company t2 on t1.f_company_id=t2.f_id
        left join t_company_type t3 on t2.f_type_id=t3.f_id
        left join t_org t4 on t1.f_parent_id=t4.f_id
        left join t_org_area t5 on t1.f_id=t5.f_org_id
        left join t_region t6 on t6.f_id= t1.f_region_id
        WHERE  	t1.f_isdeleted = 0
        <if test="dto.range != null">
            <![CDATA[HAVING distance<=${dto.range}]]>
        </if>
        order by distance asc
    </select>

</mapper>