<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lolaage.crm.service.dao.mapper.OrgRelationPathMapper">

    <!-- 默认的DTO类 -->
    <resultMap id="resultDto" type="com.lolaage.crm.service.dto.comm.OrgRelationPathDto">
        <result column="f_id" property="id"/>
        <result column="f_org_id" property="orgId"/>
        <result column="f_path" property="path"/>
        <result column="f_isdeleted" property="isdeleted"/>
        <result column="f_update_time" property="updateTime"/>
        <result column="f_create_time" property="createTime"/>
    </resultMap>

    <!-- 使用mybatis-plus 的 Wrapper 形式传参-->
    <select id="listDtoPageByWrapper" resultMap="resultDto">
        SELECT * FROM t_org_relation_path
        <if test="ew != null">
            <!-- 这里不用动,只需按 mybatis-plus 的 Wrapper 形式传参即可 -->
            ${ew.customSqlSegment}
        </if>
    </select>

    <!-- 使用对象类型传参 -->
    <select id="listDtoPageByObj" parameterType="com.lolaage.crm.service.dto.comm.OrgRelationPathDto" resultMap="resultDto">
        SELECT * FROM t_org_relation_path where t.f_isdeleted=0
        <if test="dto != null">
            <!-- 这里写自己的条件拼装 -->

        </if>
    </select>

    <!-- 使用对象类型传参 -->
    <update id="batchUpdatePath">
        UPDATE t_org_relation_path
        SET f_path=REPLACE(f_path,#{oldPath},#{newPath})
        WHERE FIND_IN_SET(#{orgId},f_path)
    </update>

    <!-- 根据组织ID查询出自己与所属的所有组织Id  -->
    <select id="listAllSubOrgIdsByOrgId" resultType="java.lang.Long">
        SELECT f_org_id FROM t_org_relation_path WHERE f_path LIKE CONCAT((SELECT f_path FROM t_org_relation_path WHERE f_org_id = #{orgId} ), '%')
        and f_isdeleted=0
    </select>

    <!-- 查询指定组织到根节点的路径 -->
    <select id="getOrgPath" parameterType="java.lang.Long" resultType="java.lang.String">
        SELECT f_path FROM t_org_relation_path WHERE f_org_id=#{orgId}
    </select>

    <select id="getOneLevelChildDeparts" resultType="com.lolaage.crm.service.dto.response.DepartmentDto">
        select
        d.f_id             id,
        d.f_name           name,
        p.f_id        parent,
        p.f_name        parentName,
        d.f_create_time    createdAt,
        (select count(0) from t_org where f_isdeleted=0 and f_parent_id = d.f_id ) childrenCount
        from t_org d
        left join t_org p on p.f_isdeleted=0 and d.f_parent_id = p.f_id
        where d.f_isdeleted=0 and d.f_parent_id =#{orgId}
        order by d.f_id
    </select>
</mapper>