<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lolaage.crm.service.dao.mapper.ProjectMapper">

    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        t.f_id AS id,
        t.f_name AS name,
        t.f_head_id AS headId,
        t.f_type AS type,
        t.f_customer_id AS customerId,
        t.f_contact AS contact,
        t.f_source AS source,
        t.f_source_name2 AS sourceName2,
        t.f_project_time AS projectTime,
        t.f_charge_id AS chargeId,
        t.f_provide AS provide,
        t.f_expect_sign_time AS expectSignTime,
        t.f_expect_amount AS expectAmount,
        t.f_stage AS stage,
        t.f_possibility AS possibility,
        t.f_status AS status,
        t.f_province_id AS provinceId,
        t.f_city_id AS cityId,
        t.f_area_id AS areaId,
        t.f_demand_content AS demandContent,
        t.f_stage_remark AS stageRemark,
        t.f_create_id AS createId,
        t.f_create_time AS createTime,
        t.f_isdeleted AS isdeleted,
        t.f_update_time AS updateTime,
        t.f_update_id AS updateId
    </sql>

    <!-- 使用对象类型传参 -->
    <select id="listPageByDto" parameterType="com.lolaage.crm.service.dto.request.ProjectQueryDto" resultType="com.lolaage.crm.service.dto.response.ProjectListDto">
        SELECT <include refid="baseColumnList" /> FROM t_project t where t.f_isdeleted=0
        <if test="dto != null">
            <!-- 这里写自己的条件拼装 -->
            <if test="dto.createId != null and dto.createId >0 ">
                <if test="dto.isLeader">
                    AND t.f_create_id IN (select t.f_user_id from t_user_org t, t_org_relation_path t2 WHERE t.f_org_id = t2.f_org_id AND FIND_IN_SET((select f_org_id from t_user_org WHERE f_user_id = #{dto.createId}),t2.f_path) )
                </if>
                <if test="!dto.isLeader">
                    AND t.f_create_id=#{dto.createId}
                </if>
            </if>
            <if test="dto.customerId != null and dto.customerId >0 ">
                AND t.f_customer_id=#{dto.customerId}
            </if>
        </if>
        ORDER BY t.f_update_time DESC
    </select>

</mapper>