<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lolaage.crm.service.dao.mapper.RoleResourceMapper">

    <!-- 默认的DTO类 -->
    <resultMap id="resultDto" type="com.lolaage.crm.service.dto.comm.RoleResourceDto">
        <result column="f_id" property="id"/>
        <result column="f_role_id" property="roleId"/>
        <result column="f_resource_id" property="resourceId"/>
        <result column="f_invalid_time" property="invalidTime"/>
        <result column="f_creater" property="creater"/>
        <result column="f_isdeleted" property="isdeleted"/>
        <result column="f_update_time" property="updateTime"/>
        <result column="f_create_time" property="createTime"/>
    </resultMap>

    <!-- 使用mybatis-plus 的 Wrapper 形式传参-->
    <select id="listDtoPageByWrapper" resultMap="resultDto">
        SELECT * FROM t_role_resource
        <if test="ew != null">
            <!-- 这里不用动,只需按 mybatis-plus 的 Wrapper 形式传参即可 -->
            ${ew.customSqlSegment}
        </if>
    </select>

    <!-- 使用对象类型传参 -->
    <select id="listDtoPageByObj" parameterType="com.lolaage.crm.service.dto.comm.UserDto" resultMap="resultDto">
        SELECT * FROM t_role_resource where t.f_isdeleted=0
        <if test="dto != null">
            <!-- 这里写自己的条件拼装 -->

        </if>
    </select>

    <delete id="delByRoleId">
        delete from t_role_resource where f_role_id=#{roleId}
    </delete>


    <insert id="addRoleResources" >
        insert into t_role_resource (f_role_id, f_resource_id, f_creater)
        values
        <foreach collection="resourceSaveDto.resourceIds" item="item" index="index" separator=",">
            (#{resourceSaveDto.roleId},#{item},#{resourceSaveDto.creater})
        </foreach>
    </insert>
</mapper>