<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lolaage.crm.service.dao.mapper.RouteMapper">

    <!-- 默认的DTO类 -->
    <resultMap id="resultDto" type="com.lolaage.crm.service.model.Route">
        <result column="f_id" property="id"/>
        <result column="f_name" property="name"/>
        <result column="f_update_time" property="updateTime"/>
    </resultMap>
    <insert id="autoIncrementId">
        INSERT INTO `routedb` (name) VALUES('t_file') ON DUPLICATE KEY UPDATE `id` = LAST_INSERT_ID(`id`+1)
    </insert>

    <select id="getFileId" resultType="java.lang.Long">
        select id from routedb where name='t_file' limit 1;
    </select>


    <select id="checkFileId" resultType="java.lang.Integer"  parameterType="java.lang.Long">
         select count(1) as c from t_file where f_id = #{id,jdbcType=BIGINT}
    </select>
</mapper>