<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lolaage.crm.service.dao.mapper.SalesTargetMapper">

    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        t.f_id AS id,
        t.f_user_id AS userId,
        t.f_year AS year,
        t.f_quarter AS quarter,
        t.f_target_amount AS targetAmount,
        t.f_create_time AS createTime,
        t.f_create_id AS createId,
        t.f_isdeleted AS isdeleted
    </sql>

    <!-- 使用对象类型传参 -->
    <select id="listPageByDto" parameterType="com.lolaage.crm.service.dto.request.SalesTargetQueryDto" resultType="com.lolaage.crm.service.dto.response.SalesTargetListDto">
        SELECT <include refid="baseColumnList" /> FROM t_sales_target t where t.f_isdeleted=0
        <if test="dto != null">
            <!-- 这里写自己的条件拼装 -->

        </if>
        ORDER BY t.f_create_time DESC
    </select>

</mapper>