<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lolaage.crm.service.dao.mapper.SmsNoticeSendRecordMapper">

    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        t.f_id AS id,
        t.f_send_type AS sendType,
        t.f_send_user AS sendUser,
        t.f_send_phone AS sendPhone,
        t.f_send_content AS sendContent,
        t.f_send_template_code AS sendTemplateCode,
        t.f_send_parameter AS sendParameter,
        t.f_status AS status,
        t.f_operator_id AS operatorId,
        t.f_operator_type AS operatorType,
        t.f_operator_event_id AS operatorEventId,
        t.f_biz_id AS bizId,
        t.f_create_time AS createTime,
        t.f_send_time AS sendTime
    </sql>

    <!-- 使用对象类型传参 -->
    <select id="listPageByDto" parameterType="com.lolaage.crm.service.dto.request.SmsNoticeSendRecordQueryDto" resultType="com.lolaage.crm.service.dto.response.SmsNoticeSendRecordListDto">
        SELECT <include refid="baseColumnList" /> FROM t_sms_notice_send_record t where t.f_isdeleted=0
        <if test="dto != null">
            <!-- 这里写自己的条件拼装 -->

        </if>
        ORDER BY t.f_update_time DESC
    </select>

</mapper>