<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lolaage.crm.service.dao.mapper.SysUriMapper">

    <!-- 默认的DTO类 -->
    <resultMap id="resultDto" type="com.lolaage.crm.service.dto.comm.SysUriDto">
        <result column="f_id" property="id"/>
        <result column="f_uri" property="uri"/>
        <result column="f_remark" property="remark"/>
        <result column="f_create_time" property="createTime"/>
    </resultMap>

    <!-- 使用对象类型传参 -->
    <select id="listDtoPageByObj" parameterType="com.lolaage.crm.service.dto.comm.SysUriDto" resultMap="resultDto">
        SELECT * FROM t_sys_uri where t.f_isdeleted=0
        <if test="dto != null">
            <!-- 这里写自己的条件拼装 -->
            <if test="dto.remark!=null and dto.remark!=''">
                and f_uri like concat('%',#{dto.remark},'%')
            </if>
        </if>
    </select>

</mapper>