<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lolaage.crm.service.dao.mapper.UserOrgRoleMapper">

    <!-- 默认的DTO类 -->
    <resultMap id="resultDto" type="com.lolaage.crm.service.dto.comm.UserOrgRoleDto">
        <result column="f_id" property="id"/>
        <result column="f_user_id" property="userId"/>
        <result column="f_org_id" property="orgId"/>
        <result column="f_is_leader" property="isLeader"/>
        <result column="f_isdeleted" property="isdeleted"/>
        <result column="f_update_time" property="updateTime"/>
        <result column="f_create_time" property="createTime"/>
        <result column="f_role_id" property="roleId"/>
    </resultMap>

    <!-- 使用mybatis-plus 的 Wrapper 形式传参-->
    <select id="listDtoPageByWrapper" resultMap="resultDto">
        SELECT * FROM t_user_org_role
        <if test="ew != null">
            <!-- 这里不用动,只需按 mybatis-plus 的 Wrapper 形式传参即可 -->
            ${ew.customSqlSegment}
        </if>
    </select>

    <!-- 使用对象类型传参 -->
    <select id="listDtoPageByObj" parameterType="com.lolaage.crm.service.dto.comm.UserDto" resultMap="resultDto">
        SELECT a.*,b.f_name name,b.f_username userName,c.f_name orgName FROM t_user_org_role a
        left join t_user_org d on d.f_id=a.f_user_org_id
        left join t_user b on b.f_id=d.f_user_id
        left join t_org c on c.f_id=d.f_org_id
        <if test="dto != null">
            <trim prefix="where" prefixOverrides="and|or">
                <if test="dto.name !=null and dto.name!='' ">
                    and b.f_name like concat('%',#{dto.name},'%')
                </if>
                <if test="dto.roleId !=null  ">
                    and a.f_role_id =#{dto.roleId}
                </if>
                <if test="dto.roleId ==null  ">
                    and a.f_role_id is not null
                </if>
            </trim>
        </if>
    </select>
</mapper>