<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lolaage.crm.service.dao.mapper.UserOrgMapper">

    <!-- 默认的DTO类 -->
    <resultMap id="resultDto" type="com.lolaage.crm.service.dto.comm.UserOrgDto">
        <result column="f_id" property="id"/>
        <result column="f_user_id" property="userId"/>
        <result column="f_org_id" property="orgId"/>
        <result column="f_is_leader" property="isLeader"/>
        <result column="f_update_time" property="updateTime"/>
        <result column="f_create_time" property="createTime"/>
    </resultMap>

    <!-- 使用mybatis-plus 的 Wrapper 形式传参-->
    <select id="listDtoPageByWrapper" resultMap="resultDto">
        SELECT * FROM t_user_org
        <if test="ew != null">
            <!-- 这里不用动,只需按 mybatis-plus 的 Wrapper 形式传参即可 -->
            ${ew.customSqlSegment}
        </if>
    </select>

    <!-- 使用对象类型传参 -->
    <select id="listDtoPageByObj" parameterType="com.lolaage.crm.service.dto.comm.UserOrgDto" resultMap="resultDto">
        SELECT a.*,b.f_username as userName,b.f_name as name,c.f_name as orgName
        <if test="dto!=null and dto.roleId!=null">
            ,(select count(1) from t_user_org_role where f_user_org_id=a.f_id and f_role_id=#{dto.roleId}) as addUserNum
        </if>
        FROM t_user_org a
        left join t_user b on b.f_id=a.f_user_id
        left join t_org c on c.f_id=a.f_org_id
        where t.f_isdeleted=0
        <if test="dto != null">
            <!-- 这里写自己的条件拼装 -->
            <if test="dto.orgId!=null">
                and a.f_org_id in (select f_org_id from t_org_relation_path where FIND_IN_SET(#{dto.orgId},f_path))
            </if>
            <if test="dto.userName!=null and dto.userName!=''">
                and (b.f_name like concat('%',#{dto.userName},'%')
                    or b.f_username like concat('%',#{dto.userName},'%')
                )
            </if>
        </if>
    </select>

</mapper>